@{
    ViewData["Title"] = "EmptyList";
}

<div class="text-center">
    <h1 class="display-4">Nie znaleziono programu : @ViewBag.Program</h1>
    <a asp-controller="ProgramExe" , asp-action="Index">Go to index List</a>
</div>