<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Profile Xml
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="InputDataXml" asp-action="Index">View inputdata.xml</a> <br />
        <a class="dropdown-item" asp-area="" asp-controller="Varpool" asp-action="Index">View varpool.xml</a> <br />
        <a class="dropdown-item" asp-area="" asp-controller="ApplicationXmlConf" asp-action="Index">View Application.xml.conf</a> <br />
    </div>
</div>