@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>@ViewBag.FullName</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Go to users</h5>
    <p class="card-text">Pobiera dane z serwisu lub bazy</p>
    <a class="btn btn-primary" asp-controller="User" asp-action="Index">BM users (z bazy)</a>
  </div>
</div>
