@{
    ViewData["Title"] = "EmptyList";
}

<div class="text-center">
    <h1 class="display-4">Nie mozna wykasowac uzytkownika : @ViewBag.User</h1>
    <a asp-controller="User" , asp-action="Index">Go to index List</a>
</div>